{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source632409605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:07 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9537435F2822F\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:03 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source632409605/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D9537436284D49\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:03 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target2119008148?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95374363EDB63\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary1220321795?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95374365574C9\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:04 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary1220321795/validGlossary.csv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:08 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QsIGdsb3NzYXJ5Rmlyc3QKdGVzdCwgZ2xvc3NhcnlUZXN0Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "elnMklV4kfKtXbWzdhyP5Q==",
        "ETag": "\u00220x8D953743682D9DF\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:04 GMT",
        "x-ms-content-crc64": "96JLO0IhQlA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "{\u0022inputs\u0022:[{\u0022source\u0022:{\u0022sourceUrl\u0022:\u0022Sanitized\u0022},\u0022targets\u0022:[{\u0022targetUrl\u0022:\u0022Sanitized\u0022,\u0022language\u0022:\u0022es\u0022,\u0022glossaries\u0022:[{\u0022glossaryUrl\u0022:\u0022https://documentstorageleithy.blob.core.windows.net/glossary1220321795/validGlossary.csv?sv=2020-04-08\u0026se=2021-07-30T17%3A08%3A09Z\u0026sr=c\u0026sp=rwl\u0026sig=nBuniygggwzQBO52i4ZBV7Lu7svpSXUnMyVzRYldneg%3D\u0022,\u0022format\u0022:\u0022csv\u0022}]}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/58c26e08-f97b-4ad1-8320-68d1ea6460e9",
        "X-RequestId": "7a1091e6-1513-45cd-b14d-015858621d2e"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/58c26e08-f97b-4ad1-8320-68d1ea6460e9",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022EE4D23357F942595C3AAA59A1EB08AD5496D1F07A994D20D8B28D27533C1BA1B\u0022",
        "Retry-After": "1",
        "X-RequestId": "890819a8-4e1a-4cc5-b403-a28ba2d92ae7"
      },
      "ResponseBody": {
        "id": "58c26e08-f97b-4ad1-8320-68d1ea6460e9",
        "createdDateTimeUtc": "2021-07-30T16:08:06.0546375Z",
        "lastActionDateTimeUtc": "2021-07-30T16:08:06.054638Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/58c26e08-f97b-4ad1-8320-68d1ea6460e9/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00227F99441375B498597147CF190DBD0B76694B734AAD25770012D04DF1E1EA212A\u0022",
        "Retry-After": "1",
        "X-RequestId": "1c4f7e9a-8718-4d74-b69d-a02eec579abd"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target2119008148/Document1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source632409605/Document1.txt",
            "createdDateTimeUtc": "2021-07-30T16:08:08.235378Z",
            "lastActionDateTimeUtc": "2021-07-30T16:08:20.9124Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "000a22a7-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target2119008148/Document1.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D95374403E1A3E\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:20 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 30 Jul 2021 16:08:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target2119008148/Document1.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:26 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-51/52",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D95374403E1A3E\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:20 GMT",
        "x-ms-blob-content-md5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 30 Jul 2021 16:08:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "Z2xvc3NhcnlGaXJzdCBkb2N1bWVudG8gZGUgZ2xvc3NhcnlUZXN0IGVuIGluZ2zDqXMNCg=="
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "1052839232"
  }
}