{
  "Entries": [
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source631101597?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:26 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95374413A551F\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/source631101597/Document1.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QgZW5nbGlzaCB0ZXN0IGRvY3VtZW50",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "zc6asiLoUz/caxlJ6YwKxA==",
        "ETag": "\u00220x8D95374416803A9\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:22 GMT",
        "x-ms-content-crc64": "V7knc5S52gk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1522899016?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D95374417FA829\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:22 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary2043143?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8D9537441972C1A\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:23 GMT",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/glossary2043143/validGlossary.csv",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:27 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": "Rmlyc3QsIGdsb3NzYXJ5Rmlyc3QKdGVzdCwgZ2xvc3NhcnlUZXN0Cg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "elnMklV4kfKtXbWzdhyP5Q==",
        "ETag": "\u00220x8D9537441C353B1\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:23 GMT",
        "x-ms-content-crc64": "96JLO0IhQlA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "{\u0022inputs\u0022:[{\u0022source\u0022:{\u0022sourceUrl\u0022:\u0022Sanitized\u0022},\u0022targets\u0022:[{\u0022targetUrl\u0022:\u0022Sanitized\u0022,\u0022language\u0022:\u0022es\u0022,\u0022glossaries\u0022:[{\u0022glossaryUrl\u0022:\u0022https://documentstorageleithy.blob.core.windows.net/glossary2043143/validGlossary.csv?sv=2020-04-08\u0026se=2021-07-30T17%3A08%3A28Z\u0026sr=c\u0026sp=rwl\u0026sig=cUMG0FEJtG7En43K3%2FwHUh10HEeAvGX04s6QbEFvvdw%3D\u0022,\u0022format\u0022:\u0022csv\u0022}]}]}]}",
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d54700d4-f8f6-472f-89fd-dfd95523cbc1",
        "X-RequestId": "f06be87f-6185-40c3-8ecf-0956eeec2fc3"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d54700d4-f8f6-472f-89fd-dfd95523cbc1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022DDAD7A9D5B11C3895C9D15E010D70D100C476BC58933103D33E606CEE0E154BB\u0022",
        "Retry-After": "1",
        "X-RequestId": "e2fc6578-e5e2-4979-960b-8dd96d5dbb45"
      },
      "ResponseBody": {
        "id": "d54700d4-f8f6-472f-89fd-dfd95523cbc1",
        "createdDateTimeUtc": "2021-07-30T16:08:23.6948842Z",
        "lastActionDateTimeUtc": "2021-07-30T16:08:23.6948846Z",
        "status": "NotStarted",
        "summary": {
          "total": 0,
          "failed": 0,
          "success": 0,
          "inProgress": 0,
          "notYetStarted": 0,
          "cancelled": 0,
          "totalCharacterCharged": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://document-translation-test.cognitiveservices.azure.com/translator/text/batch/v1.0/batches/d54700d4-f8f6-472f-89fd-dfd95523cbc1/documents",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022234C7AF15698FB0D90AE15565102237C7DF3035A82CB1FBBD09DF033122F1B2E\u0022",
        "Retry-After": "1",
        "X-RequestId": "05ec29ba-8526-4e9c-a4b1-5ede863e867a"
      },
      "ResponseBody": {
        "value": [
          {
            "path": "https://documentstorageleithy.blob.core.windows.net/target1522899016/Document1.txt",
            "sourcePath": "https://documentstorageleithy.blob.core.windows.net/source631101597/Document1.txt",
            "createdDateTimeUtc": "2021-07-30T16:08:32.4111519Z",
            "lastActionDateTimeUtc": "2021-07-30T16:08:44.0916708Z",
            "status": "Succeeded",
            "to": "es",
            "progress": 1,
            "id": "000a22a8-0000-0000-0000-000000000000",
            "characterCharged": 27
          }
        ]
      }
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1522899016/Document1.txt",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:50 GMT",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D953744E0F53EB\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:44 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 30 Jul 2021 16:08:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://documentstorageleithy.blob.core.windows.net/target1522899016/Document1.txt",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 30 Jul 2021 16:08:50 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2020-04-08"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-51/52",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8D953744E0F53EB\u0022",
        "Last-Modified": "Fri, 30 Jul 2021 16:08:44 GMT",
        "x-ms-blob-content-md5": "aR4oC/97cnA4oMRDpfTTTQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 30 Jul 2021 16:08:24 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2020-04-08"
      },
      "ResponseBody": "Z2xvc3NhcnlGaXJzdCBkb2N1bWVudG8gZGUgZ2xvc3NhcnlUZXN0IGVuIGluZ2zDqXMNCg=="
    }
  ],
  "Variables": {
    "DOCUMENT_TRANSLATION_API_KEY": "Sanitized",
    "DOCUMENT_TRANSLATION_CONNECTION_STRING": "DefaultEndpointsProtocol=https;AccountName=documentstorageleithy;AccountKey=Kg==;EndpointSuffix=core.windows.net",
    "DOCUMENT_TRANSLATION_ENDPOINT": "https://document-translation-test.cognitiveservices.azure.com/",
    "RandomSeed": "1257150773"
  }
}